<p class="name">Здравейте, <b>Екип</b>,</p>

<p>Потребител желае да се свърже с вас:</p>

<div class="margin">
    <p>Име: <b>{{ name }}</b></p>

    <p>Имейл: <b>{{ email }}</b></p>

    <p>Телефон: <b>{{ phoneNumber }}</b></p>

    <p>Съобщение: {{ message }}</p>
</div>
